In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:

import csv
def top_5_emp(d3):
    d3.sort(key = lambda x: int(x[5]),reverse=True)
    print("Sorted Data:",d3)

    print("\n Top1 Employee",d3[0][1])
    print("Top2 Empolyee",d3[1][1])
    print("Top1 Empolyee",d3[2][1])
    print("Top2 Empolyee",d3[3][1])
    print("Top2 Empolyee",d3[4][1])


f1 = open("drive/My Drive/Colab Notebooks/emp718.csv","r")
f2 = open("drive/My Drive/Colab Notebooks/emp_sal718.csv","r")
f3 = open("drive/My Drive/Colab Notebooks/emp_718.csv","w")

d1=list(csv.reader(f1,delimiter=','))
d2=list(csv.reader(f2,delimiter=','))

print("\n\n File1 contents:",d1)
print("\n\n File2 contents:",d2)
d3 = []
for i in range(len(d1)):
    d3.append(d1[i] + d2[i])

print(d3)
cw = csv.writer(f3)
cw.writerows(d3)

top_5_emp(d3)


f1.close()
f2.close()
f3.close()

 File1 contents: [['1', 'sanvi', 'pune'], ['2', 'mrunmayee', 'pune'], ['3', 'jayesh', 'nashik'], ['4', 'gouri', 'nashik'], ['5', 'mahesh', 'pune']]


 File2 contents: [['1', 'manager', '100000'], ['2', 'Sr. Manager', '150000'], ['3', 'Manager', '90500'], ['4', 'Sr. Manager', '100500'], ['5', 'Supervisor', '85000']]
[['1', 'sanvi', 'pune', '1', 'manager', '100000'], ['2', 'mrunmayee', 'pune', '2', 'Sr. Manager', '150000'], ['3', 'jayesh', 'nashik', '3', 'Manager', '90500'], ['4', 'gouri', 'nashik', '4', 'Sr. Manager', '100500'], ['5', 'mahesh', 'pune', '5', 'Supervisor', '85000']]
Sorted Data: [['2', 'mrunmayee', 'pune', '2', 'Sr. Manager', '150000'], ['4', 'gouri', 'nashik', '4', 'Sr. Manager', '100500'], ['1', 'sanvi', 'pune', '1', 'manager', '100000'], ['3', 'jayesh', 'nashik', '3', 'Manager', '90500'], ['5', 'mahesh', 'pune', '5', 'Supervisor', '85000']]

 Top1 Employee mrunmayee
Top2 Empolyee gouri
Top1 Empolyee sanvi
Top2 Empolyee jayesh
Top2 Empolyee mahesh